<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
    {% include common-imports.html %}
</head>
<body unresolved>
<main id="content-container" class="polymer-1_0-content">
  <app-drawer id="sidebar" unresolved>
    <div layout vertical id="sidebar-content">
      <div id="logo-container" layout horizontal center>
        <a href="/" class="logo"><img src="/images/logos/lockup.svg" alt="Polymer home"></a>
      </div>

      <docs-menu unresolved flex></docs-menu>
    </div>
  </app-drawer>
</main>

   {% include common-body.html %}
 {{ content }}


</body>
</html>
